/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 7, 2022, 7:21:40 PM
    Author     : ASUS
*/
.swal2-cancel{
    margin: 10px;
}
.swal2-confirm{
    margin: 10px;
}